<a href="https://colab.research.google.com/github/ShaikBanu0208/Machine_Learning/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python print function

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print("Machine Learning "+"Projects")

Machine Learning Projects

In [ ]:
print(8+3)

11

Basic DataTypes
1. int
2. float
3. str

In [ ]:
type(8)

int

In [ ]:
a=8
type(a)

int

In [ ]:
type(5.3)
type("english")

str

In [ ]:
type(5.3)

float

Constants & Variables

In [ ]:
var="hello"
print(var)

hello

In [ ]:
a,b=2,3
print(a)
print(b)

2
3

In [ ]:
a=int(input())
b=int(input())
print(a+b)

10
10
20

In [ ]:
a=input("Enter a")
b=input("Enter b")
print(a+b)

Enter a10
Enter b10
1010

In [ ]:
# integer datatype
a=8
print(a)
type(a)

8

int

In [ ]:
# floating point
b=8.5
print(b)
type(b)

8.5

float

In [ ]:
# complex numbers
c=1+2j
print(c)
type(c)

(1+2j)

complex

In [ ]:
print("Hello"*5)

HelloHelloHelloHelloHello

In [ ]:
#slicing
a="Programming"
print(a[1:5])

rogr

In [ ]:
#stepping
a="Programming"
print(a[1:5:2])

rg

List

In [ ]:
List_1=[]
print(List_1)

[]

In [ ]:
List_1.append(1)
List_1.append(5.5)
List_1.append("Hello")
print(List_1)

[1, 5.5, 'Hello']

In [ ]:
print(List_1[2])

Hello

In [ ]:
print(List_1[0:2])

[1, 5.5]

In [ ]:
print(len(List_1))

3

In [ ]:
del List_1[2]

In [ ]:
print(List_1)

[1, 5.5]

In [ ]:
List_2=[1,5.5]
List=List_1+List_2
print(List)

[1, 5.5, 1, 5.5]

Tuple

In [ ]:
tuple_1=(1,2,3,4)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4)

tuple

In [ ]:
tuple_2=(1,5,5,"Machine Learning")
print(tuple_2)

(1, 5, 5, 'Machine Learning')

In [ ]:
tuple_3=tuple_1+tuple_2
print(tuple_3)

(1, 2, 3, 4, 1, 5, 5, 'Machine Learning')

**Set**

In [ ]:
set_1={1,2,3,4,5,5}
print(set_1)

{1, 2, 3, 4, 5}

Dictionary

In [ ]:
my_dict={'name':'Banu','age':23,'country':'india'}
print(my_dict)
type(my_dict)

{'name': 'Banu', 'age': 23, 'country': 'india'}

dict

In [ ]:
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['country'])

Banu
23
india

In [ ]:
my_dict_2={'name':'Banu','age':23,'country':'india','name':'shaik'}
print(my_dict_2)

{'name': 'shaik', 'age': 23, 'country': 'india'}

**Operators**

1.Arthimetic operators

In [ ]:
a=int(input("Enter the value of a "))
b=int(input("Enter the value of b "))
print("Addition : ", a+b)
print("Subtraction : ", (a - b))
print("Multiplication : ", a*b)
print("Division : ", a/b)
print("Modulo Division : ", a%b)
print("Exponent : ",a**b)

Enter the value of a 10
Enter the value of b 20
Addition :  30
Subtraction :  -10
Multiplication :  200
Division :  0.5
Modulo Division :  10
Exponent :  100000000000000000000

2.Assignment operators

In [ ]:
a=5
print(a)
a+=5
print(a)
a-=5
print(a)
a*=5
print(a)
a/=5
print(a)
a%=5
print(a)
a**=5
print(a)

5
10
5
25
5.0
0.0
0.0

In [ ]:
a=50
print(a)
a+=5
print(a)
a-=5
print(a)
a*=5
print(a)
a/=5
print(a)
a%=5
print(a)
a**=5
print(a)

50
55
50
250
50.0
0.0
0.0

3.Relational operators

In [ ]:
a=10
b=20
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)

False
False
True
True
False
True


4.Logical operators

In [ ]:
a=10
b=20
c=30
print(a>b and a>c)
print(a>b or a<c)
print(not a>b)

False
True
True

5.Identity operator

In [ ]:
a=5
b=5
print(a is b)
print(a is not b)

True
False

6.Membership operator

In [ ]:
a=5
b=10
c=[1,2,3,4,5]
print(a in c)
print(b in c)

True
False

**Conditional Statements**

1. Simple if

In [ ]:
a=int(input('Enter a value: '))
b=int(input('Enter b value: '))
if(a>b):
  print("a is greater than b")

Enter a value: 2
Enter b value: 1
a is greater than b

2.if-else

In [ ]:
a=int(input('Enter a value: '))
b=int(input('Enter b value: '))
if(a>b):
  print(a," is greatest number")
else:
  print(b," is greatest number")

Enter a value: 3
Enter b value: 6
6  is greatest number

if-elif-else

In [ ]:
a=int(input('Enter a value: '))
b=int(input('Enter b value: '))
c=int(input('Enter c value: '))
if(a>b):
  print(a," is greatest number")
elif b>c:
   print(b," is greatest number")
else:
  print(c," is greatest number")

Enter a value: 1
Enter b value: 2
Enter c value: 3
3  is greatest number

4.Nested if

In [ ]:
a=int(input('Enter a value: '))
b=int(input('Enter b value: '))
c=int(input('Enter c value: '))
if(a>b):
  if(a>c):
    print(a," is greatest number")
  else:
    print(b," is greatest number")
else:
  if(b>c):
    print(b," is greatest number")
  else:
    print(c," is greatest number")

Enter a value: 10
Enter b value: 20
Enter c value: 30
30  is greatest number

**Loops**

1.for loop

In [ ]:
# print numbers 1 to 10
for i in range(10):
  print(i+1,end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
# print numbers 1 to n
n=int(input())
for i in range(n):
  print(i+1,end=" ")

50
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

2.While loop

In [4]:
n=int(input())
i=0
while i<10:
  print(i+1,end=" ")
  i=i+1

10
1 2 3 4 5 6 7 8 9 10

**Functions**

Factorial of a number

In [7]:
num=int(input('Enter a number : '))
fact=1

if(num==0):
  print('factorial of o is 1')
else:
  for i in range(1,num+1):
    fact=fact*i
print(fact)

Enter a number : 0
factorial of o is 1
1

In [10]:
def factorial(num):
  fact=1

  if(num==0):
    print('factorial of o is 1')
  else:
    for i in range(1,num+1):
      fact=fact*i
    return fact
num=int(input('Enter a number : '))
print(factorial(num))

Enter a number : 7
5040